* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #33f366;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* Lateral esquerda */
  /* Extra styles for the cancel button */
  /* Center the image and position the close button */
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button (x) */
}
header #logo {
  display: block;
  justify-self: flex-start;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
}
header nav a {
  display: block;
  text-decoration: none;
  color: black;
  margin: auto 20px;
  cursor: point;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
}
header nav .dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}
header nav .dropdown:hover .dropdown_content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
header nav .dropdown_content:hover {
  background-color: #11eb7a;
}
header nav .dropdown_content:hover .drop {
  color: white;
}
header nav #divBusca {
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
  margin: 0% 28px;
}
header nav #divBusca #txtBusca {
  float: left;
  background-color: transparent;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 8px;
  width: 260px;
  margin: 5px 0px;
}
header nav #divBusca .material-symbols-outlined {
  font-size: 35px;
}
header input[type=text],
header input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 7px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
header button {
  background-color: #40FF9C;
  font: bold 16px Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  width: 100%;
  align-self: center;
  border-radius: 60px;
  display: block;
}
header button:hover {
  opacity: 0.8;
}
header .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #40FF9C;
}
header .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
header img.avatar {
  width: 40%;
  /* border-radius: 50%; */
}
header .container {
  padding: 16px;
}
header span.psw {
  float: right;
  padding-top: 16px;
}
header .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}
header .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centergba(94, 239, 154, 0.77) */
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}
header .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
header .close:hover,
header .close:focus {
  color: rgba(94, 239, 154, 0.77);
  cursor: pointer;
}
header .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

/* efeito dropdown */
/* links do dropdown */
.drop {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1200px) {
  #divBusca {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    display: block;
  }
  header #logo {
    margin: auto;
  }
  header nav {
    display: none;
  }
  header button {
    display: none;
  }
  header .logo {
    width: 100%;
  }
  header span .material-symbols-outlined {
    display: block;
  }
  header button {
    align-self: flex-end;
  }
}
@media screen and (max-width: 300px) {
  header {
    display: block;
  }
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1328px;
}/*# sourceMappingURL=main.css.map */