$fontPrincipal: "Kumbh Sans";
$corPrimaria: rgb(7, 250, 68);
$corSecundaria: hsl(25, 100%, 94%);
$corNavegacao: hsl(223, 64%, 98%);
$corNavegacaoHover: hsl(220, 14%, 75%);


#prod {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 40px;
    .m2{
    flex-wrap: nowrap;}

    .imagens {
        img {
            border-radius: 20px;
        }

        .imagemProduto {
            img {
                width: 400px;
                max-width: 600px;
            }
        }

        .imagemSeletor img {
            width: 80px;
            margin: 20px 8px;
        }
    }

    /* Mexendo no conteudo do produto */

    .conteudo {
        max-width: 600px;

    }

    #carousel {
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
    }
}