body {
    background-color: white;
    min-width: 325px;
    max-width: 100%;
    margin: 0px;
}

header{
    background-image:url(/img/Tarja\ superior.png);
    justify-content: space-around;
    




 
    
}


.tamanho_das_tarjas{
    width: 1920px;
    height: 150px;
}

        min-width: 10px;
        max-width: 100%;

    }

footer {background-image
        position: absolute;
        bottom: 0px;
    }

nav{
    position: absolute;
    top: 20px;   
    
