*{
    margin: 0px;  
    padding: 0px;
    box-sizing: ;
}
body{
    background-image:linear-gradient(rgb(138, 242, 138), white);
}
.formulario{
    width: 100vw;    
    height: 100vh;
    text-align: center;
    margin: auto;
    margin-top:5vh;
}

fieldset{
    width: 30vw;
    margin: auto;
    text-align: left;
    font-size: medium;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.alinhamento_fieldset{
  display: flex; 
  justify-content: space-between; 
    
}

fieldset input{
    height: 20px;
}

::placeholder{
    font-size: smaller;

}

#botão{
    text-align: center;
}
button {
    background-color: black;
    color: white;
}
button:hover{
    color: aliceblue;
}


