*{
    margin: 0px;    
}
header{
    max-width: 100vw;
}
.tar_superior{
    display: block;
    width: 100vw;
    height: 20vh;
}

.formulario{
   width: 50vw;
   height: 60vh;
   margin: auto;    
   background-color: #D3FFD0;
}
main div img{
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}

footer{
    height: 20vh;
}



