body {
    background-color: white;
    min-width: 325px;
    max-width: 100%;
    margin: 0px;
}

header{
    background-image:url(/img/Tarja\ superior.png);
    justify-content: space-around;    
}

footer {background-image:url(/img/Tarja_superior.png)
        position: absolute;
        bottom: 0px;
    }

nav{
    position: relative;
    top: 20px;   
    
