*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     
}

header{
    background-image: url(/img/tarja_superior.png);
   
}


main{
    background-color:white;
    flex-grow: 1;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 30vh; 0;
   
}
footer{
    background-color: green;
}