*{
    margin: 0px;  
    padding: 0px;
    box-sizing: ;
}

.formulario{
    width: 100vw;    
    height: 100vh;
    background-image:linear-gradient(rgb(138, 242, 138), white);
    text-align: center;
    padding: 30px 0;
}
.marca_dagua{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    left: 25vw;
    bottom: 25vh;
    opacity: 10%;    
}

fieldset{
    width: 50vw;
    margin: auto;
    text-align: left;
    font-size: medium;
    padding: 10px;
    }
.alinhamento_fieldset{
    display: flex;
    text-align: left;
    
}
fieldset input{
    height: 20px;
}
::placeholder{
    font-size: smaller;

}

#butão{
    text-align: center;
}




