@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

header nav {
  align-self: center;
  width: 100vw;
  margin: auto;
}
header nav .navbar.is-primary {
  background-color: #33f366;
}
header nav img {
  padding: 10px;
  flex-direction: column;
}
header nav .input_pesquisa {
  padding: 5px;
  width: 20vw;
  border-radius: 20px 0 0 20px;
}
header nav .input_button {
  background-color: #40FF9C;
  padding: 5px;
  border-radius: 0px 20px 20px 0;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 7px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #40FF9C;
  font: bold 16px Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  width: 100%;
  align-self: center;
  border-radius: 60px;
  display: block;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #40FF9C;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  /* border-radius: 50%; */
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centergba(94, 239, 154, 0.77) */
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(94, 239, 154, 0.77);
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

#prod {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 40px;
  /* Mexendo no conteudo do produto */
}
#prod .m2 {
  flex-wrap: nowrap;
}
#prod .imagens img {
  border-radius: 20px;
}
#prod .imagens .imagemProduto img {
  width: 400px;
  max-width: 600px;
}
#prod .imagens .imagemSeletor img {
  width: 80px;
  margin: 20px 8px;
}
#prod .conteudo {
  max-width: 600px;
}
#prod #carousel {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

#cadr {
  margin: auto;
  width: auto;
}
#cadr h2 {
  color: #aaeda3;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1328px;
}
body main {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  margin: auto;
}
body main .aside_aba {
  width: 20vw;
}
body main .aside_aba .cab_filtro {
  background-color: #aaeda3;
  min-width: 20vw;
  border: 1px solid;
  height: 5vh;
  text-align: center;
  border-radius: 20px 20px 0 0;
  margin: 5px 5px 0px 5px;
}
body main .aside_aba .cont_filtro {
  min-width: 20vw;
  background-color: rgba(247, 251, 246, 0.4235294118);
  border: 1px solid;
  height: 100vh;
  border-radius: 0 0 20px 20px;
  margin: 0px 5px 5px 5px;
}
body main #seção2 {
  background-color: #D9D9D9;
  margin: auto;
  border: 5px solid white;
  border-radius: 20px;
  text-align: center;
  padding: 5px 0;
  width: 75vw;
}
body main #seção2 .box_card:hover {
  background-color: #63f253;
  color: white;
}
body main #seção2 .card_main {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}
body main #seção2 .box_card {
  background-color: rgba(247, 251, 246, 0.4235294118);
  color: black;
  margin: 20px;
  padding: 5px;
}
body main #seção2 .card_cab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
}

#carousel {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

#carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

#carousel > div {
  min-width: 23%;
  min-height: 171%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 24px;
  flex-direction: column;
}

.img-carousel {
  height: 200px;
  width: 190px;
}

footer {
  background-color: #63f253;
  width: 100vw;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .aside_aba,
.cab_filtro {
    width: 0vw;
    display: none;
  }
  * {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
  }
  #burger {
    width: 100vw;
  }
  #seção2 {
    width: 100vw;
    display: block;
  }
}/*# sourceMappingURL=style.css.map */