.img-nav1{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; 
    max-width: 150px;
    max-height: 100px;
}
.card-content{
    display: flex;
}
/* jj */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

:root {
  --fontPrincipal: "Kumbh Sans";
  --corPrimaria: rgb(7, 250, 68);
  --corSecundaria: hsl(25, 100%, 94%);
  --corNavegacao: hsl(223, 64%, 98%);
  --corNavegacaoHover: hsl(220, 14%, 75%);
}

body {
  font-family: var(--fontPrincipal), sans-serif;
}

main {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 40px;
  flex-flow: row wrap;
}

/* Mexendo nas imagens do produto */

.imagens img {
  border-radius: 20px;
}

.imagemProduto img {
  width: 400px;
}

.imagemSeletor img {
  width: 80px;
  margin: 20px 8px;
}

/* Mexendo no conteudo do produto */

.conteudo {
  max-width: 600px;
}

.conteudo h2 {
  color: var(--corPrimaria);
}

.precoDesconto {
  font-weight: 700;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.precoDesconto span {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
  color: var(--corPrimaria);
  background-color: var(--corSecundaria);
}
/* #container {
  width: 80%;
  aspect-ratio: 2/1;
  margin: auto;
  border: solid rgb(213, 212, 212) 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
} */

#carousel {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

#carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

#carousel > div {
min-width: 23%;
    min-height: 171%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 24px;
    flex-direction: column
}
